{
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended"
    ],
    "env": {
        "es6": true,
        "browser": true,
        "jest/globals": true
    },
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "plugins": ["jest", "vue"],
    "globals": {
        "window": true
    },
    "rules": {
        "semi": [2, "never"],
        "indent": ["error", 4],
        "quotes": [2, "single", { "allowTemplateLiterals": true }]
    }
}
